/**
* @file
* Layouts for Translate Nodes two pages.
*/

span.status,
a.status {
  position: relative;
  display: block;
  width: 21px;
  height: 21px;
  margin: 0 !important;
  background-image: url(img/goto.png);
  background-repeat: no-repeat;
}
.empty {
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  background: #fff url(img/goto.png) no-repeat;
}
.blocked {
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  background: #fff url(img/empty.png) no-repeat;
}
.in-progress {
  background-color: #fc0;
}
.done {
  width: 22px;
  height: 22px;
  background-color: #759029;
}
.approved {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0;
  border: 1px solid #999;
  background-color: transparent;
  background-image: url(img/approved.png);
  background-repeat: no-repeat;
}
.need-review {
  background: #d52424 url(img/goto.png) no-repeat;
}
.approve {
  font-size: 12px;
  line-height: 22px;
  float: left;
  width: 65px;
  height: 22px;
  padding: 0 !important;
  cursor: pointer;
  color: #fff;
  border: 0;
  background-color: #313131 !important;
}
.approve:hover {
  background-color: #505050;
}
.approved.status {
  border: none;
}
.change {
  color: #7b7b7b;
  border: 2px solid;
  border-color: #c7c7c7;
  border-radius: 5px;
}
.change-status {
  display: table-cell;
  padding: 0 10px 0 0;
  vertical-align: middle;
}
.change-status select {
  height: 30px;
}
.checkbox-outdated {
  display: table-cell;
  margin: 20px 10px;
}
.checkbox-outdated input {
  float: left;
  margin-right: 10px;
}
span.status,
span.status + a,
span.status + a + form,
a.status,
a.status + a,
a.status + a + form {
  display: block;
  float: left;
  margin-right: 10px !important;
}
span.status + a,
a.status + a {
  line-height: 22px;
  height: 22px;
}
.status.blocked + a {
  cursor: default;
  text-indent: -9999px;
  pointer-events: none;
}
.translate-fields label {
  font-size: 13px;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.left {
  float: left;
  width: 55%;
  margin: 20px 0 0 0;
}
.right {
  float: left;
  width: 40%;
  margin: 20px 0 0 5%;
}
.translate {
  width: 82px;
  /*font-weight: bold;*/
  margin: 24px 10px 0 24px;
  background: url(img/translate-btn.png) no-repeat 50% 73%;
}
.long .translate {
  width: 82px;
  /*font-weight: bold;*/
  margin: 24px 10px 0 24px;
  background: url(img/translate-btn.png) no-repeat 50% 50%;
}
.save-translate,
.translate,
.done-translate {
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
  text-indent: -9999px;
}
.save-translate {
  width: 70px;
  background: url(img/save-btn.png) no-repeat !important;
  display: inline-block !important;
}
.done-translate {
  width: 35px;
  height: 35px;
  border: none;
  background: url(img/done-btn.png) no-repeat !important;
  display: inline-block !important;
}
.translate-fields.long .translate {
  margin-top: 110px;
}
.translate-fields textarea {
  height: 250px !important;
}
.translate:hover,
.save-translate:hover {
  opacity: .8;
}
.done-translate:hover {
  background-position: 0 -35px;
}
.save-text {
  display: table-cell;
  width: 141px;
  margin-top: 27px;
  vertical-align: bottom;
}
.langs {
  visibility: hidden;
}
.translate-fields {
  margin-bottom: 20px;
  margin-left: 10px;
}
.translate-fields .form-type-textarea {
  margin-right: 8px;
  padding-top: 24px;
}
.translate-fields .form-type-textarea label {
  margin-top: -24px;
}
.translate-fields input,
.translate-fields textarea {
  width: 100%;
  box-sizing: border-box;
}
.t-desni {
  margin-top: 20px;
}
.translate-nodes aside#sidebar {
  display: none;
}
.translate-nodes #main-content {
  width: 1200px;
}
.translate-nodes.narrow #main-content {
  width: 960px;
}
.translate-nodes tr,
.translate-nodes td {
  height: 20px;
  background: transparent;
}
.translate-nodes table {
  empty-cells: show;
}
.translate-nodes tr.odd,
.translate-nodes td.odd,
.translate-nodes tr.odd td,
.translate-nodes tr:nth-child(odd) td {
  background: #f1f1f1;
}
.translate-nodes td .status {
  display: block;
  float: left;
}
.translate-nodes td .status + form {
  float: left;
  clear: right;
}
.translate-nodes a {
  text-decoration: none;
}
.translations-header {
  position: relative;
  padding: 20px 5px 10px 0;
  background: #fdfdfd;
}

.translate-nodes table select {
  position: relative;
  left: -1px;
  height: 22px;
}
.translate-nodes table {
  margin-bottom: 0;
}
.texts-translations {
  display: block;
  margin-bottom: 10px;
}
.page-admin-config-regional-translate-nodes .language-tabs {
  clear: right;
  overflow: hidden;
  border-bottom: 1px solid #444;
  margin: 3px 0;
  list-style: none !important;
  padding: 0;
}
.language-tabs a,
.language-tabs span,
.language-translating {
  line-height: 32px;
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 1px;
  text-align: center;
  background: #e0e0d7;
}
.language-tabs li {
  float: left;
  text-transform: uppercase;
  list-style: none !important;
}
.language-tabs .active {
  color: #fff;
  background: #444;
}
.language-translating {
  position: absolute;
  top: 23px;
  left: 55%;
  text-transform: uppercase;
}
.pager {
  height: auto !important;
  margin-bottom: 0;
  text-align: center;
  border-top: 1px solid #ebebeb;
}
#linked-scrols {
  position: absolute;
  top: 180px;
  left: 576px;
}
#linked-scrols input {
  width: 40px;
  height: 40px;
}
.link-scrolls {
  position: relative;
  left: -10px;
}
.outdated {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 5px;
  height: 5px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  background: red;
}
select.translator {
  width: auto;
  padding: 0;
}
.sticky-header {
  z-index: 2;
}
#edit-status {
  width: 122px;
}
#translate-nodes-translate-ui-form div.table,
.control-wrapper {
  display: table;
  width: 100%;
}
.control-wrapper {
  margin-top: 20px;
}
.translate-fields {
  display: table-row;
}
.translate-fields .form-item {
  width: 45%;
}
.translate-fields .translate {
  width: 10%;
}
.translate-fields .form-item,
.translate-fields .translate {
  display: table-cell;
  vertical-align: top;
}
.translations-header .item-list {
  width: 45%;
}
#edit-done {
  margin-right: 0;
}
.translate.disabled {
  cursor: default;
}
